{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "es6": true,
    "amd": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "double"],
    "semi": [2, "always"]
  }
}